body{
    font-family: 'Montserrat', sans-serif;
}

.name{
    color: violet;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
}

h2 {
    border: 1px solid blue;
}